@using System.Threading
@using MVC_mcs_Ajax.DAL
@using MVC_mcs_Ajax.Models
@model IEnumerable<MVC_mcs_Ajax.DAL.newEquipment>

@{
    ViewBag.Title = "Index";
}

<h2>Информация о машинах</h2>


<table class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.intGarageRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strManufYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strSerialNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TablesModel.strName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TablesModel.strImage)
        </th>
        <th>Action</th>

    </tr>
    @if (Model != null)
    {
        foreach (newEquipment item in Model)
        {

            <tr>
                <td>
                    @using (Ajax.BeginForm("GetTrackMeterByEquipmentId", new { equipmentId = item.intEquipmentID }, new AjaxOptions()
                    {
                        UpdateTargetId = "table_To_Update_" + item.intEquipmentID,
                        InsertionMode = InsertionMode.Replace,
                        LoadingElementId = "loader_image_" + @item.intEquipmentID,
                        LoadingElementDuration = new Random().Next(100,1500)
                    }))
                    {
                        <input type="submit" class="btn btn-info" data-toggle="collapse" data-target="#Test_1_@item.intEquipmentID" value="@item.intEquipmentID" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strManufYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strSerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TablesModel.strName)
                </td>
                <td>
                    <img width="100" height="70" src="http://www.ritchiewiki.com/wiki/files/Cat_12H_-_rear_view_2.jpg" />
                    @*@Html.DisplayFor(modelItem => item.TablesModel.strImage)*@
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.intEquipmentID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.intEquipmentID })
                    @*|
                        @Html.ActionLink("Delete", "Delete", new { id = item.intEquipmentID })*@
                </td>

            </tr>
            <tr class="collapse" id="Test_1_@item.intEquipmentID">
                <td colspan="6" id="table_To_Update_@item.intEquipmentID">
                    <img height="250" width="300" src="~/Content/loader/@LoaderModel.GetRandomLoader()" class="center-block" style="display: none" id="loader_image_@item.intEquipmentID" />
                    <h3 class="text-center">Loading...</h3>
                </td>
            </tr>

        }
    }
</table>
@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @Scripts.Render("~/bundles/jquery")

}
